<%- include('../partials/header') %>
    
    <form class="newopinion" action="/opinions/<%= opinionId %>?_method=PUT" method="POST">
        <label><strong>Rating:</strong><select class="browser-default" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </label>
        </select>
        <br>
        <input type="text" name="caption" placeholder="Your NEW Opinion">
        <input type="submit" value="Update Opinion"> 
    </form>
    <button><a href="/opinions">nevermind</a></button>

<%- include('../partials/footer') %>