<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All (Un)Popular Opinions</title>
</head>
<body>
<nav>
    <h2>(Un)Popular Opinions</h2>
    <ul>
        <li>
            <% if(user) { %>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google">Login With Google</a>
            <% } %>
        </li>
        <li>
            <a href="/opinions/new">Create an Opinion</a>
        </li>
    </ul>
</nav>
<h1>All (Un)Popular Opinions</h1>
<table>
    <thead>
        
        <th>Item</th>
        <th>Rating</th>
    </thead>
    <tbody>
        <% opinions.forEach(function(o) { %>
            <tr>
                
                <td><%= o.itemName %></td>
                <td><%= o.rating %></td>
                <td><form action="/opinions/<%= o._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button></form></td>
            </tr>
        <% }); %>
   
    </tbody>
</table>

</body>
</html>