<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Materialize icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize css  -->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- materialize js  -->
    <script type="text/javascript" src="js/materialize.min.js"></script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Un)Popular Opinions</title>
</head>

<body>
    <h1 class="title">(UN)POPULAR OPINIONS</h1>
    <a href="/auth/google"><i class="material-icons left"></i>Login With Google</a>