:root {
    --primary-color: #8686e6cd
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, cursive;
}


.title {
    margin-top: 250px;
    text-align: center;
}

#login {
    margin-top: 20px;
    width: 100px;
    height: 20px;
    font-size: 10px;
}

.brand-logo {
    font-family: 'Righteous', cursive;
    margin-left: 30px;
    color: #50c2f7
}

.row {
    margin-left: 350px;
    width: 1000px;
}

.select {
    width: 100px;
}

.newopinion {
    padding-left: 250px;
    padding-right: 250px;
}

h4 {
   
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    background-color: #d2cece;
}

.delete {
    margin-bottom: 10px;
}

.pagetitle {
    margin-left: 30px;
}

#itemname {
    margin-left: 35px;
    font-size: 25px;
}